<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Planning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <!-- Importar a API do Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/controls.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        <script src="javascript/script3.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="javascript/scriptclientes.js"></script>
</head>
<body>
    <div id="nav">
        <div id="nav">
            <nav>
                <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
                <a href="#">Início</a>
                <a href="">Gerenciamento</a>
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    Vendedores
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-info
                  -emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <li><a class="dropdown-item" href="#">Cadastrar Vendedores</a></li>
                    <li><a class="dropdown-item" href="#">Consultar Vendedores</a></li>
                </ul>
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    Clientes
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-info
                  -emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <li><a class="dropdown-item" href="#">Cadastrar Clientes</a></li>
                    <li><a class="dropdown-item" href="#">Consultar Clientes</a></li>
                </ul>
                <a href="">Dashboard</a>
                <a href="login.html">Sair</a>
            </nav>
        </div>
        <div>
            <h1 class="titulo">DASHBOARD</h1>

            <div class="d-flex justify-content-center" id="filt_adm">
                <div class="filt_items">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Vendedor</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="filt_items">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Cliente</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <input class="form-control" type="month" id="txtdata1" name="txtdata1" min="" max=""><br>
                <input class="form-control" type="month" id="txtdata1" name="txtdata1" min="" max=""><br>

            </div>

            <br>

            <!-- Importar a API do Google Charts -->
            <script type="text/javascript" src="https://www.gstatic.com/charts/controls.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

                google.charts.load('current', {'packages': ['line'] });
                google.charts.load('current', {'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);


                function drawChart() {

                                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Meses');
                data.addColumn('number', 'Predição');
                data.addColumn('number', 'Planejado');
                data.addColumn('number', 'Realizado');

                data.addRows([
                ["jan-23", 150, 160.8, 141.8],
                ["fev-23", 130.9, 169.5, 132.4],
                ["mar-23", 125.4, 157, 125.7],
                ["abr-23", 111.7, 118.8, 110.5],
                ["mai-23", 111.9, 117.6, 110.4],
                ["jun-23", 118.8, 113.6, 117.7],
                ["jul-23", 117.6, 112.3, 119.6],
                ["ago-23", 112.3, 129.2, 110.6],
                ["set-23", 116.9, 142.9, 114.8],
                ["out-23", 112.8, 130.9, 111.6],
                ["nov-23", 105.3, 107.9, 114.7],
                ["dez-23", 106.6, 108.4, 105.2],
                ]);

                data.setColumnProperty(0, 'style', 'font-weight:bold;');

                options = {
                    chart: {
                    title: 'Gerenciamento das vendas no ano de 2023',
                subtitle: ''
                                    },


                colors: ['#7128EB', '#EA8300', '#1AEB44'], // Cores das linhas do gráfico

                legend: { // Propriedades da legenda (Predição, Planejado, Realizado)
                    textStyle: {
                    fontName: 'Arial',
                fontSize: 18,
                color: 'black'
                                        }

                                    },

                titleTextStyle: { // Propriedades do Título
                    fontSize: 18,
                italic: true,
                bold: true,
                color: 'black'

                                    },

                vAxis: {  // Propriedades do Eixo Vertical do Gráfico (valores de quantidade)
                    textStyle: {
                    fontName: 'Arial',
                fontSize: 16,
                color: 'black'
                                        }
                                    },

                hAxis: {  // Propriedades do Eixo Horizontal do Gráfico (meses)
                    textStyle: {
                    fontName: 'Arial',
                fontSize: 16,
                color: 'black'
                                        }

                                    },

                                };

                var chart = new google.charts.Line(document.getElementById('linechart_material'));
                chart.draw(data, google.charts.Line.convertOptions(options));
                            }

            </script>
            <!-- Elemento onde será renderizado o gráfico -->

            <div id="linechart_material"></div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>



</body>
</html>
