<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="scriptdashboard.js"></script>
  
    <title>Dashboard</title>

</head>

<body>
    <div id="nav">
        <nav>
            <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
            <a href="#">Início</a>
            <a class="links" onclick="inputVendedorCliente()">Clientes</a>
            <a class="links" onclick="inputVendedorPlanejamento()">Planejamento</a>
            <a class="links" onclick="inputVendedorGerenciamento()">Gerenciamento</a>
            <a class="links" onclick="location.reload()">Dashboard</a>
            <a href="login.html">Sair</a>
        </nav>
    </div>
    <h1 class="titulo">DASHBOARD</h1>

    <!-- Importar a API do Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/controls.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['line'] });
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            const table = new google.visualization.DataTable();

            const params = new URLSearchParams(window.location.search);
            const idVendedor = params.get('idVendedor');

            axios.get(`http://localhost:8080/planejamento/1`)
                .then(response => {
                    const planejamento = response.data;
                    const meses = [
                        "Janeiro",
                        "Fevereiro",
                        "Março",
                        "Abril",
                        "Maio",
                        "Junho",
                        "Julho",
                        "Agosto",
                        "Setembro",
                        "Outubro",
                        "Novembro",
                        "Dezembro"
                    ];



                    table.addColumn('string', 'Meses');
                    table.addColumn('number', 'Predição');
                    table.addColumn('number', 'Planejado');
                    table.addColumn('number', 'Realizado');

                    planejamento.registros.forEach((registro, index) => {
                        const data = registro.mesPlanejamento
                        console.log(`banco --->${registro.mesPlanejamento}`)
                        const partesData = data.split("-");
                        const dia = partesData[2];
                        const mes = parseInt(partesData[1], 10) - 1;
                        console.log(`mes -->${mes}`)
                        const ano = partesData[0];
                        const dataString = `${meses[mes]} de ${ano}`;
                        console.log(`formadata --->${dataString}`)
                        const quantidadeRegistro = registro.quantidade;
                        const quantidadeHistorico = planejamento.historicos[index].quantidade;
                        const quantidadePredicao = planejamento.predicaos[index].quantidade;
                        table.addRow([dataString, quantidadePredicao, quantidadeRegistro, quantidadeHistorico]);
                    });

                    //table.addRow([mesPlanejamento, quantidadePredicao, //quantidadePlanejado, quantidadeRealizado]);

                    // Define as propriedades da coluna 0 para negrito
                    table.setColumnProperty(0, 'style', 'font-weight:bold;');

                    const options = {
                        chart: {
                            title: 'Gerenciamento das vendas',
                            subtitle: ''
                        },
                        colors: ['#7128EB', '#EA8300', '#1AEB44'], // Cores das linhas do gráfico
                        legend: {
                            textStyle: {
                                fontName: 'Arial',
                                fontSize: 18,
                                color: 'black'
                            }
                        },
                        titleTextStyle: {
                            fontSize: 18,
                            italic: true,
                            bold: true,
                            color: 'black'
                        },
                        vAxis: {
                            textStyle: {
                                fontName: 'Arial',
                                fontSize: 16,
                                color: 'black'
                            }
                        },
                        hAxis: {
                            textStyle: {
                                fontName: 'Arial',
                                fontSize: 16,
                                color: 'black'
                            }
                        }
                    };

                    const chart = new google.charts.Line(document.getElementById('linechart_material'));
                    chart.draw(table, google.charts.Line.convertOptions(options));
                })
                .catch(error => {
                    console.error(error);
                });
        }

    </script>

    <!-- Elemento onde será renderizado o gráfico -->

    <div id="linechart_material"></div>


</body>

</html>