<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rock Planning</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/edit.css">
    <script src="javascript/scriptedit_cad_registro.js"></script>
</head>
<body id="bo">
    <div id="nav">
        <nav>
            <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
            <a href="#">Início</a>
            <a class="links" onclick="inputVendedorCliente()">Clientes</a>
            <a class="links" onclick="inputVendedorPlanejamento()">Planejamento</a>
            <a class="links" onclick="inputVendedorGerenciamento()">Gerenciamento</a>
            <a class="links" onclick="inputVendedorDashboard()">Dashboard</a>
            <a href="login.html">Sair</a>
        </nav>
    </div>
    <div class="container">
        <form action="" method="post" class="form">

            <div class="form-header">
                <h1 class="titulo">PLANEJAMENTO DE VENDAS</h1>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="txtquantidade">Quantidade:</label><br>
                    <input class="form-control" type="number" name="txtquantidade" id="txtquantidade" placeholder="Quantidade de venda planejada"><br>
                </div>
                <div class="input-box">
                    <label for="txtdata">Data:</label><br>
                    <input class="form-control" type="month" id="txtdata" name="txtdata" min="2022-01" max="2024-12"><br>
                </div>
            </div>
            <div class="buttons">
                <button value="Editar" id="btnEditar" onclick="editarRegistroPlanejamento()" type="button" class="btn btn-outline-primary">Editar</button>
                <button value="Cadastrar" id="btnCadastrar" onclick="cadastrarRegistroPlanejamento()" type="button" class="btn btn-outline-primary">Cadastrar</button>
            </div>
        </form>
    </div>
    <script>
        // Obtém a data atual ensinar o walace a fazer isso no scrpit e por para carregar
        var now = new Date();

        // Define a data mínima para os inputs de mês (três meses a partir do mês atual)
        var minDate = new Date(now.getFullYear(), now.getMonth() + 1, 1).toISOString().slice(0, 7);

        // Define a data máxima para os inputs de mês (seis meses a partir do mês atual)
        var maxDate = new Date(now.getFullYear(), now.getMonth() + 4, 0).toISOString().slice(0, 7);

        // Define a data mínima e máxima para cada input de mês
        document.getElementById("txtdata").setAttribute("min", minDate);
        document.getElementById("txtdata").setAttribute("max", maxDate);
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>
