@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #00208a;
    padding: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

nav > a {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-family:'Inter', sans-serif;
    font-size: 18px;
    transition-duration: 0.5s;
    flex-grow: 1;
}

nav > a:hover {
    color: #00B1ED;
}

#principal {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: white;
}

span {
    color: #00B1ED;
}

.letra {
    color: #00B1ED;
}

#here {
    color: #00B1ED;
}

.titulo{
    padding: 1em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2em;
    color: #00027a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.radio > input {
   margin: 0 10px;
}

body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    margin-bottom: 2%;
    overflow: hidden; /* adicionando overflow */
}

.return{
    width: 3em;
    margin: auto;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 90%;
}

.return:hover{
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Image Panel */
.form-image {
    display: none;
}

/* Image Resolution  */
.img_form {
    width: 25rem;
}

/* form Panel */
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* form parameters */
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em;
    letter-spacing: 0.1em
}

/* box parameters */
.input-box {
    padding: 0.5em;
    border: none;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 0.8rem;
    border: none;
    width: 34%;
    text-align: center;
    font-size: 1.2em;
}

.get_user{
    display: none;
}

.onwer{
    display: none;
}

.input-box textarea{
    width: 30em;
}

.input-box ::placeholder{
    color: #c8c8cc;
}

/* Bootstrap personalization*/
.form-control{
    margin: -1.1rem 0;
    border-radius: 10px;
    font-size: 0.8rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2em;
}

.form-header h3::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.buttons{
    display: flex;
}

.btn-outline-primary{
    border-radius: 5px;
    border-color: #072997;
    cursor: pointer;
    letter-spacing: 2px;
    color: #072997;
}

.btn-outline-primary:hover{
    background-color: #072997;
    border-color: #072997;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fg{
    text-decoration: none;
    color: red;
    letter-spacing: 3px;
}

@media screen and (max-width: 1060px){

.form-image {
    display: none;
}

.img_form {
    display: none;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}

@media screen and (max-width: 600px){

#id_description{
    width: 15rem;
}

}

}
