*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);    min-width: 100vh;
    display: flex;
    min-height: 100vh;
    position: relative;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo{
    width: 120px;
    margin-left: 5%;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.logo:hover{
    border-bottom: 2px solid white;
}

.navlist{
    display: flex;
    text-decoration: none;
    padding: 25px;
}

.navlist a{
    color: white;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: wheat;
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    display: grid;
    position:fixed;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 20px;
    gap: 2rem;
    color: white;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text h1{
    font-size: 50px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin: 0 0 15px;
}

.hero-text p{
    font-size: 15px;
    line-height: 1.9;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.hero-text a{
    color: white;
    display: inline-block ;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: rgb(0, 125, 241);
    border: 1px solid transparent;
    padding: 12px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 40px;
    text-transform: uppercase;
    transition: all .55s ease;
    text-decoration: none;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 8px;
}

section{
    padding: 0 19%;

}

#carouselExample{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.card {
    border: none;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
    background: transparent;
    transition: all .5s;
}

.card:hover {
    background: transparent;
}

.card .img {
    width: 280px;
    text-align: center;
    display: inline-block;
    height: 200px;
    background-image: url('./assets/Evelynn.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    transition: all .5s;
    
}

.card:hover .img {
    width: 240px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 20px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;
    transform: translateY(30px);
}

.card:hover .content {
    height: 200px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 25px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

