<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Planning</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="js/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
    <script src="scriptcadastroplan.js"></script>
</head>
<body id="bo">
  <div id="nav">
    <nav>
      <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
      <a href="#">Início</a>
      <a href="clientes.html">Clientes</a>
      <a href="index.html" id="here">Planejamento</a>
      <a href="visualizar_plan.html">Consulta de Planejamentos</a>
      <a href="gerenciamento_vendas.html">Gerenciamento</a>
      <a href="#">Dashboard</a>
      <a href="login.html">Sair</a>
    </nav>
  </div>
    <div class="container">
      <form action="" method="post" class="form">
        <div class="form-header">
          <h1 class="titulo">PLANEJAMENTO DE VENDAS</h1>
        </div>

        <div class="input-group" id="grupo1">
          <div class="input-box">
            <label for="txtproduto">Produto:</label><br>
            <select id="selectProduto" class="input-large form-control">
              <option value=""></option>
          </select><br>
          </div>

          <div class="input-box">
            <label for="txtcliente">Cliente:</label><br>
            <select id="selectCliente" class="input-large form-control">
              <option value=""></option>
            </select><br>
          </div>

          <div class="input-box">
            <label for="txtquantidade">Quantidade:</label><br>
            <input class="form-control" type="number" name="txtquantidade" id="txtquantidade" placeholder="Quantidade de venda planejada"><br>
          </div>

          <div class="input-box">
            <label for="txtdata">Data:</label><br>
            <input class="form-control" type="month" id="txtdata" name="txtdata" min="2022-01" max="2024-12"><br>
          </div>
        </div>

        <div class="input-group" id="plan-completo">
          <div class="input-box">
            <label for="txtquantidade2">Quantidade:</label><br>
            <input class="form-control" type="number" name="txtquantidade2" id="txtquantidade2" placeholder="Quantidade de venda planejada"><br>
          </div>

          <div class="input-box">
            <label for="txtdata2">Data:</label><br>
            <input class="form-control" type="month" id="txtdata2" name="txtdata2" min="2022-01" max="2024-12"><br>
          </div>
        
          <div class="input-box">
            <label for="txtquantidade3">Quantidade:</label><br>
            <input class="form-control" type="number" name="txtquantidade3" id="txtquantidade3" placeholder="Quantidade de venda planejada"><br>
          </div>

          <div class="input-box">
            <label for="txtdata3">Data:</label><br>
            <input class="form-control" type="month" id="txtdata3" name="txtdata3" min="2022-01" max="2024-12"><br>
          </div>
        </div>
        
        <div class="buttons">
          <button  value="Cadastrar" onclick="cadastrarPlanejamento()" type="button" class="btn btn-outline-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous">
  </script>
</body>
</html>