<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style_login.css" rel="stylesheet">
    <title>Dom Planning</title>
</head>
<body>
    <main>
        <article>
            <img src="../../../Api1/DOM-ROCK/view/img/login.png">
        </article>
        <aside>
            <h1>LOGIN</h1>
            <h2>Usuário</h2>
            <form>
                <input type="text">
                </input>
            </form>
            <h2>Senha</h2>
            <form>
                <input type="password">
                </input>
                <input type="submit" value="ENTRAR">
                </input>
            </form>
            <p>Não possui login? <a href="#">Efetue o cadastro </a></p>
        </aside>

    </main>


</body>
</html>