<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style_login.css" rel="stylesheet">
    <title>Dom Planning</title>
</head>
<body>
    <article>
        <img src="img/login.png">
    </article>
    <aside>
        <h1>LOGIN</h1>
        <div class="titulo"><h2>Usuário</h2></div>
        <div class="input-box">
            <label>
                <input type="text">
            </label>
        </div>
        <div type="titulo"><h2>Senha</h2></div>
        <div class="input-box">
            <input type="password"></input>
            <input type="submit" value="ENTRAR"></input>
        </div>
        <p>Não possui login? <a href="#">Efetue o cadastro </a></p>
    </aside>
</body>
</html>
