<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Planning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script> 

    <script src="javascript/script3.js"></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/clientes.css">

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="javascript/script_getvendedoradm.js"></script>
</head>
<body>
    <div id="nav">
        <div id="nav">
            <nav>
                <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
                <a href="#">Início</a>
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    Vendedores
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-info
                -emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <li><a class="dropdown-item" href="cadastro_vendedores.html">Cadastrar Vendedores</a></li>
                    <li><a class="dropdown-item" href="vendedores_adm.html">Consultar Vendedores</a></li>
                </ul>
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    Clientes
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-info
                -emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <li><a class="dropdown-item" href="cadastro_clientes.html">Cadastrar Clientes</a></li>
                    <li><a class="dropdown-item" href="clientes_adm.html">Consultar Clientes</a></li>
                </ul>
                <a href="dasboard_adm.html">Dashboard</a>
                <a href="login.html">Sair</a>
            </nav>
        </div>
        <div>
            <a onclick="inputVoltar()"><img class="return" title="Voltar a Pagina de Planejamento" src="img\voltar.svg"></a>
            <h1 class="titulo">VENDEDORES</h1>

            <div class="filtros">
                <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Buscar">
                <button class="btn btn-outline-primary" onclick="limparFiltro()">Limpar </button>
            </div>

            <table class="table" id="tabelaClientes">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                </thead>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Carteira de Clientes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modalBody">
                            <div id="atualizar">
                            <a href="edit_adm_clientes.html">Ricardevs</a><br>
                            <a href="edit_adm_clientes.html">Ricardevs</a><br>
                            <a href="edit_adm_clientes.html">Ricardevs</a><br>
                            <a href="edit_adm_clientes.html">Ricardevs</a><br>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        </div>
</body>
</html>
