<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom Planning</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-HaFZBhqQgzZNOXYgBk8CcFz7UTf6C3qrqIoLvXvxFphf/kL10Inh/stc5KQea1xH" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Oswald&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style_plan.css">
    <link rel="stylesheet" href="estilo.css">
    <script src="script2.js"></script>
</head>
<body class="back-plan">
    <div id="nav">
        <nav>
            <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
            <a href="#">Início</a>
            <a href="clientes.html">Clientes</a>
            <a href="index.html">Planejamento</a>
            <a href="visualizar_plan.html" id="here">Consulta de Planejamentos</a>
            <a href="gerenciamento_vendas.html">Gerenciamento</a>
            <a href="#">Dashboard</a>
            <a href="login.html">Sair</a>
        </nav>
    </div>
    <div>
        <a href="index.html"><img class="return" title="Voltar a Pagina de Planejamento" src="img\voltar.svg"></a>
        <h1 class="titulo">CONSULTA DE PLANEJAMENTOS</h1>
        <table class="table" id="tabela">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col" colspan="2">Produto</th>
                </tr>
                <tr>
                    <th><input type="text" id="colId" placeholder="Buscar por ID"></th>
                    <th><input type="text" id="colCliente" placeholder="Buscar por Cliente"></th>
                    <th colspan="2"><input type="text" id="colProduto" placeholder="Buscar por Produto"></th>
                </tr>
            </thead>
            <tbody><!--TABELA-->
            <thead class="tbl-accordion-header">
                <!--ACCORDION-->
                <tr>
                    <!--Primeiro corpo referente aos campos planejamento-->
                    <div class="accordion-content">
                        <a data-toggle="toggle" class="accordion-toggle"><strong>1</strong></a>
                    <td>1</td>
                    <td>João</td>
                    <td colspan="2">Placa de Aço</td>
    </div>
    </tr>
    </thead> <!--ACORDION 1-->
    <tbody class="tbl-accordion-body">
        <tr>
            <th>ID</th>
            <th>Data Planejamento</th>
            <th>Quantidade </th>
            <th>Mês</th>
        </tr>
        <tr>
            <td>1</td>
            <td>15/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
        <tr>
            <td>2</td>
            <td>16/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
        <tr>
            <td>3</td>
            <td>20/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
    </tbody>
    <!------------------------------------------------------------------------------------------------------------------------------------------------->
    <thead class="tbl-accordion-header">
        <!--ACCORDION 2 -->
        <tr>
            <!--Primeiro corpo referente aos campos planejamento-->
            <div class="accordion-content">
                <a data-toggle="toggle" class="accordion-toggle"><strong>1</strong></a>
            <td>2</td>
            <td>Maria</td>
            <td colspan="2">Madeira Fina</td>
            </div>
        </tr>
    </thead> <!--ACORDION-->
    <tbody class="tbl-accordion-body">
        <tr>
            <th>ID</th>
            <th>Data Planejamento</th>
            <th>Quantidade </th>
            <th>Mês</th>
        </tr>
        <tr>
            <td>1</td>
            <td>15/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
        <tr>
            <td>2</td>
            <td>16/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
        <tr>
            <td>3</td>
            <td>20/02/2023</td>
            <td>157</td>
            <td>03/2023</td>
        </tr>
    </tbody>
    </tbody><!--TABELA-->
    </table>
    </div>
    <script>
        $(document).ready(function () {
            $('.tbl-accordion-header').click(function () {
                $(this).next('.tbl-accordion-body').slideToggle();
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>