<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom Planning</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-HaFZBhqQgzZNOXYgBk8CcFz7UTf6C3qrqIoLvXvxFphf/kL10Inh/stc5KQea1xH" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Oswald&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style_plan.css">
    <link rel="stylesheet" href="estilo.css">
    <script src="scriptgetregistro.js"></script>
</head>
<body class="back-plan">
    <div id="nav">
        <nav>
            <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
            <a href="#">Início</a>
            <a href="clientes.html">Clientes</a>
            <a href="index.html">Planejamento</a>
            <a href="visualizar_plan.html" id="here">Consulta de Planejamentos</a>
            <a href="gerenciamento_vendas.html">Gerenciamento</a>
            <a href="#">Dashboard</a>
            <a href="login.html">Sair</a>
        </nav>
    </div>
    <div>
        <a href="visualizar_plan.html"><img class="return" title="Voltar a Pagina de Planejamento" src="img\voltar.svg"></a>
        <h1 class="titulo">REGISTRO DOS PLANEJAMENTOS</h1>
      
        <table class="table" id="tabela">
          <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Mes do Planejamento</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Data de Registro</th>
                <th scope="col">Mais informações</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>