<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom Planning</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-HaFZBhqQgzZNOXYgBk8CcFz7UTf6C3qrqIoLvXvxFphf/kL10Inh/stc5KQea1xH"
        crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Inter:wght@300&family=Mulish:wght@500&family=Oswald&family=Roboto:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style_plan.css">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="javascript/scriptget_registros.js"></script>
</head>
<body class="back-plan">
    <div id="nav">
        <nav>
            <a href="#" id="principal">ROC<span class="letra">K</span> PLANNING</a>
            <a href="#">Início</a>
            <a class="links" onclick="inputVendedorCliente()">Clientes</a>
            <a class="links" onclick="inputVendedorPlanejamento()">Planejamento</a>
            <a class="links" onclick="location.reload()">Gerenciamento</a>
            <a class="links" onclick="inputVendedorDashboard()">Dashboard</a>
            <a href="login.html">Sair</a>
        </nav>
    </div>
    <div>
        <a onclick="inputVoltar()"><img class="return" title="Voltar a Pagina de Planejamento" src="img\voltar.svg"></a>
        <h1 class="titulo">GERENCIAMENTO DAS VENDAS</h1>
        <div class="filtros">
            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Buscar">
            <button class="btn btn-outline-primary" onclick="limparFiltro()">Limpar </button>
        </div>
        <!--CRIAÇÃO DA TABELA-->
        <table class="table" id="tabela">
            <thead>
                <tr>
                    <!--TITULO FIXO NAO DEVE SER ALTERADO-->
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col" colspan="4">Produto</th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>